<div class="container">
  <div class="row">
    <div class="col-10">
      <h4>商品一覧</h4>
      <%= link_to new_admin_item_path do %>
        <span>商品登録ボタン（仮）</span>
      <% end %>
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item) %></td>
              <td><%= item.price %></td>
              <td><%= item.genre.name %></td>
              <% if item.is_active == true %>
                <td class="text-success">販売中</td>
              <% else %>
                <td class="text-secondary">販売停止中</td>
              <% end %>
            </tr>
          <% end %>
          <%= paginate @items %>
        </tbody>
      </table>
    </div>
  </div>
</div>