<div class="container">
  <div class="row mt-4 pl-5">
    <div class="bg-light col-2">
      <h4 class="text-center">商品新規登録</h4>
    </div>
  </div>
  <%= render "layouts/errors", obj: @item %>
  <%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="mt-5">
      <div class="row">
        <span class="col-2"></span>
        <p class="col-2"><%= f.label :"商品画像" %></p>
        <span class="col-8"><%= f.file_field :image, accept: "image/*" %></span>
      </div>
      <div class="row">
        <span class="col-2"></span>
        <p class="col-2"><%= f.label :"商品名" %></p>
        <span class="col-5"><%= f.text_field :name, placeholder: "商品名", class: "form-control placeholder-light" %></span>
      </div>
      <div class="row">
        <span class="col-2"></span>
        <p class="col-2"><%= f.label :"商品説明" %></p>
        <span class="col-5"><%= f.text_area :introduction, rows: '5', placeholder: "ここに説明文を記述します", class: "form-control placeholder-light" %></span>
      </div>
      <div class="row mt-3">
        <span class="col-2"></span>
        <p class="col-2"><%= f.label :"ジャンル" %></p>
        <span class="col-5"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください" %></span>
      </div>
      <div class="row mt-n3">
        <span class="col-2"></span>
        <p class="col-2 mt-3"><%= f.label :"税抜価格" %></p>
        <span class="d-flex align-items-center justify-content-end">
          <span><%= f.text_field :price, placeholder: 1000, class: "form-control placeholder-light col-12" %></span>
          <p class="col-1 mt-3">円</p>
        </span>
      </div>
      <div class="row">
        <span class="col-2"></span>
        <p class="col-2"><%= f.label :"販売ステータス" %></p>
        <span class ="ml-3">
          <%= f.radio_button :is_active, :true, checked: true %>
          <%= f.label :is_active, "販売中", { value: :true, style: "display: inline-block;", class: "mr-3" } %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", { value: :false, style: "display: inline-block;" } %>
        </span>
      </div>
      <div class="row">
        <div class="col-12  d-flex justify-content-center">
          <%= f.submit "新規登録", class: "btn btn-lg btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>